@{
    ViewData["Title"] = "Payment Confirmation";
}

<h2 class="text-center text-warning">Payment Confirmation</h2>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Congrats you have successfully paid for your rental. Your confirmation number is @Guid.NewGuid()</h2>
    </div>
    <div class="col"></div>
</div>