html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hide {
    display: none;
}

.item {
    height:25em;
}

.item img {
    width: 100%;
    height: 100% !important;
    object-fit: scale-down;
    background-color: black;
}

.home-card {
    height: 30em;
}

.home-card img {
    width: 100%;
    height: 100% !important;
    /*object-fit: cover;*/
}