@model Rental.Management.Final.Models.RentalProperty

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center text-warning">Add New Rental Property</h2>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOccupied" /> @Html.DisplayNameFor(model => model.IsOccupied)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div id="PropertyPreviewImageContainer" class="form-group ">
                <img id="PropertyPreviewImage" alt="preview image" class="img-fluid"/>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFiles" class="control-label"></label>
                <input asp-for="PropertyFiles" type="file" class="form-control" multiple="true"/>
                <span asp-validation-for="PropertyFiles" class="text-danger"></span>
            </div>
            <div class="form-group d-grid gap-2">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
